.converter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  border: 2px solid #000;
}

.converter-box h2 {
  margin: 0 0 100px 0;
  padding: 35px 0;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.converter-box .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.converter-box .form .reset-form {
  background: none;
  border: none;
  align-self: flex-end;
  font-size: 0.8em;
  text-align: right;
  color: blue;
  text-decoration: underline blue;
  cursor: pointer;
  margin: 0 2px 5px 0;
}

.converter-box .form .reset-form:hover {
  color: #1414b8;
}

.converter-box .form .amount,
.base,
.target {
  margin-bottom: 30px;
}

.converter-box .form input,
select,
.conversion-button {
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1.2em;
}

.converter-box .form input {
  padding: 0 0 0 9px;
  width: 247px;
  height: 46px;
}

.converter-box .form select,
.conversion-button {
  padding: 0 0 0 5px;
  width: 260px;
  height: 50px;
}

.converter-box .form select {
  background-color: #eee;
}

.converter-box .form .conversion-button {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.converter-box .form .conversion-button:hover {
  background-color: #ffde59;
  color: #000;
}

.converter-box .conversion {
  margin-top: 50px;
  font-size: 1em;
  color: #000;
}

.converter-box .conversion span {
  font-weight: bold;
  font-size: 1.2em;
}

.converter-box .error-message {
  margin: 2px 0;
  font-size: 0.8em;
  text-align: left;
  color: #dc143c;
}
