.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.footer p {
  margin: 0 0 10px 0;
  font-weight: bold;
}

.footer img {
  width: 30px;
  border-radius: 100%;
}

.footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
